In [1]:
import pandas as pd

In [2]:
file='C:/Users/psk/3rd_backup/Kream_pro.csv'
file1='C:/Users/psk/3rd_backup/trade_history.csv'
file2='C:/Users/psk/3rd_backup/kream_detail.csv'

In [3]:
df = pd.read_csv(file)
df

,_id,price,like,post,all_trade
0,Jordan 1 Retro High OG Black Mocha,600000,26000,5572,88000
1,Jordan 1 Mid Light Smoke Grey Anthracite,185000,50000,921,32000
2,Jordan 1 Low Golf Wolf Grey,238000,30000,558,14000
3,Jordan 4 Retro White and Black,299000,4348,128,3473
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,1540000,26000,5346,35000
...,...,...,...,...,...
2988,Jordan Future Boot Platinum,0,3,0,0
2989,Jordan Jumpman 2020 White Black,0,10,0,0
2990,(GS) Jordan Horizon Hyper Violet,0,1,0,0
2991,(TD) Jordan 3 Retro Neutral Grey,0,0,0,0
2992,Jordan Alpha 1 Orange Flash,0,4,1,0

In [4]:
df3 = pd.read_csv(file2)
df3 = df3.loc[:,['_id','model_no']]
df3

                                                    _id      model_no
0                             Jordan 1 Low Vintage Grey   553558-053
1     Jordan 1 x Travis Scott x Fragment Retro Low O...   DM7866-140
2                    Jordan 1 Retro High OG Black Mocha   555088-105
3                        Jordan 4 Retro White and Black   DH6927-111
4                 Jordan 1 Retro High OG Bleached Coral   555088-108
...                                                 ...           ...
2988       Jordan 1 Retro High OG SP Gina (Special Box)   CD7071-001
2989                        Jordan 13 Retro Low Quai 54   810551-050
2990                (GS) Jordan 11 Retro Heiress Velvet   852625-650
2991    Jordan 1 Retro High Flyknit Derek Jeter RE2PECT   AH7233-105
2992                      (GS) Jordan 1 Retro High Melo   705300-026

[2993 rows x 2 columns]

In [5]:
tm1 = pd.merge(df,df3, on='_id', how='left')
tm1

,_id,price,like,post,all_trade,model_no
0,Jordan 1 Retro High OG Black Mocha,600000,26000,5572,88000,555088-105
1,Jordan 1 Mid Light Smoke Grey Anthracite,185000,50000,921,32000,554724-078
2,Jordan 1 Low Golf Wolf Grey,238000,30000,558,14000,DD9315-002
3,Jordan 4 Retro White and Black,299000,4348,128,3473,DH6927-111
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,1540000,26000,5346,35000,DM7866-140
...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,0,3,0,0,854554-100
2989,Jordan Jumpman 2020 White Black,0,10,0,0,BQ3449-102
2990,(GS) Jordan Horizon Hyper Violet,0,1,0,0,819848-127
2991,(TD) Jordan 3 Retro Neutral Grey,0,0,0,0,832033-107
2992,Jordan Alpha 1 Orange Flash,0,4,1,0,392813-105

In [6]:
df1 = pd.read_csv(file1,index_col=0)
df1

          model_no  size  trade_date   price
0       555088-161   235  2022-04-08  240000
1       555088-161   235  2022-04-16  247000
2       555088-161   235  2022-04-20  245000
3       555088-161   235  2022-04-26  239000
4       555088-161   235  2022-04-26  245000
...            ...   ...         ...     ...
261923  CZ0790-100   270  2022-07-05  255000
261924  CZ0790-100   270  2022-07-07  269000
261925  CZ0790-100   270  2022-07-07  250000
261926  CZ0790-100   270  2022-07-07  270000
261927  CZ0790-100   270  2022-07-12  208000

[261928 rows x 4 columns]

In [7]:
# 제품별 거래횟수(235,270)
df2 = df1.groupby('model_no')['trade_date'].count().to_frame().reset_index()
df2 = df2.rename(columns={"trade_date":"count"})
df2[df2['model_no']=='555088-105']

       model_no  count
293  555088-105  22004

In [9]:
# 데이터 빈공간 삭제 함수
def strip_pro(data):
    data= data.strip()
    return data

In [10]:
tm1['model_no']= tm1['model_no'].apply(strip_pro)
tm1

,_id,price,like,post,all_trade,model_no
0,Jordan 1 Retro High OG Black Mocha,600000,26000,5572,88000,555088-105
1,Jordan 1 Mid Light Smoke Grey Anthracite,185000,50000,921,32000,554724-078
2,Jordan 1 Low Golf Wolf Grey,238000,30000,558,14000,DD9315-002
3,Jordan 4 Retro White and Black,299000,4348,128,3473,DH6927-111
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,1540000,26000,5346,35000,DM7866-140
...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,0,3,0,0,854554-100
2989,Jordan Jumpman 2020 White Black,0,10,0,0,BQ3449-102
2990,(GS) Jordan Horizon Hyper Violet,0,1,0,0,819848-127
2991,(TD) Jordan 3 Retro Neutral Grey,0,0,0,0,832033-107
2992,Jordan Alpha 1 Orange Flash,0,4,1,0,392813-105

In [11]:
k1 =pd.merge(tm1,df2,on='model_no',how="outer")
k1

,_id,price,like,post,all_trade,model_no,count
0,Jordan 1 Retro High OG Black Mocha,600000,26000,5572,88000,555088-105,22004.0
1,Jordan 1 Mid Light Smoke Grey Anthracite,185000,50000,921,32000,554724-078,13137.0
2,Jordan 1 Low Golf Wolf Grey,238000,30000,558,14000,DD9315-002,2986.0
3,Jordan 4 Retro White and Black,299000,4348,128,3473,DH6927-111,658.0
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,1540000,26000,5346,35000,DM7866-140,9478.0
...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,0,3,0,0,854554-100,NaN
2989,Jordan Jumpman 2020 White Black,0,10,0,0,BQ3449-102,NaN
2990,(GS) Jordan Horizon Hyper Violet,0,1,0,0,819848-127,NaN
2991,(TD) Jordan 3 Retro Neutral Grey,0,0,0,0,832033-107,NaN
2992,Jordan Alpha 1 Orange Flash,0,4,1,0,392813-105,NaN

In [12]:
k1 = k1.fillna(0)
k1 = k1.astype({'count':'int'})
k1

,_id,price,like,post,all_trade,model_no,count
0,Jordan 1 Retro High OG Black Mocha,600000,26000,5572,88000,555088-105,22004
1,Jordan 1 Mid Light Smoke Grey Anthracite,185000,50000,921,32000,554724-078,13137
2,Jordan 1 Low Golf Wolf Grey,238000,30000,558,14000,DD9315-002,2986
3,Jordan 4 Retro White and Black,299000,4348,128,3473,DH6927-111,658
4,Jordan 1 x Travis Scott x Fragment Retro Low O...,1540000,26000,5346,35000,DM7866-140,9478
...,...,...,...,...,...,...,...
2988,Jordan Future Boot Platinum,0,3,0,0,854554-100,0
2989,Jordan Jumpman 2020 White Black,0,10,0,0,BQ3449-102,0
2990,(GS) Jordan Horizon Hyper Violet,0,1,0,0,819848-127,0
2991,(TD) Jordan 3 Retro Neutral Grey,0,0,0,0,832033-107,0
2992,Jordan Alpha 1 Orange Flash,0,4,1,0,392813-105,0

In [27]:
product_table = k1.loc[:,['model_no','_id','all_trade']]
product_table

        model_no                                                _id  all_trade
0     555088-105                 Jordan 1 Retro High OG Black Mocha      88000
1     554724-078           Jordan 1 Mid Light Smoke Grey Anthracite      32000
2     DD9315-002                        Jordan 1 Low Golf Wolf Grey      14000
3     DH6927-111                     Jordan 4 Retro White and Black       3473
4     DM7866-140  Jordan 1 x Travis Scott x Fragment Retro Low O...      35000
...          ...                                                ...        ...
2988  854554-100                        Jordan Future Boot Platinum          0
2989  BQ3449-102                    Jordan Jumpman 2020 White Black          0
2990  819848-127                   (GS) Jordan Horizon Hyper Violet          0
2991  832033-107                   (TD) Jordan 3 Retro Neutral Grey          0
2992  392813-105                        Jordan Alpha 1 Orange Flash          0

[2993 rows x 3 columns]

In [28]:
product_table.to_csv('C:/Users/psk/3rd_backup/ERD_table/trade_table.csv', index=False, encoding='cp949')